<div class="row">
  <div class="col-3">
    <div class="overflow-auto" style="height: 300px">
      <div class="pb-2">
        <mat-button-toggle-group class="w-100" [value]="selectedChartType" (valueChange)="onSelectbarType($event)">
          <mat-button-toggle class="w-50" value="line">Line</mat-button-toggle>
          <mat-button-toggle class="w-50" value="bar">Bar</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div *ngFor="let serie of chartSeries">
        <mat-checkbox (change)="onCheckSerie(serie)">{{ serie.name }}</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div *ngIf="selectedChartSeries.length; else noData" echarts [options]="chartOption" [autoResize]="true" class="chart"></div>
  </div>
</div>

<ng-template #noData>
  <div class="d-flex justify-content-center align-items-center fs-4" style="height: 300px">No data</div>
</ng-template>
